{
  "openapi": "3.0.1",
  "info": {
    "title": "元景-以图搜图",
    "description": "输入一张或多张查询图片，系统自动检测并抠取图片中的人或车辆目标，提取其多模态特征，与图库中已入库的图像特征进行相似度检索，返回最相似的候选图片及相似度分数。",
    "version": "1.0.0"
  },
  "tags": [],
  "paths": {
    "/openapi/v1/imageSearch/imageSearchInMilvus/": {
      "post": {
        "summary": "视觉检索-以图搜图",
        "operationId": "yuanjing_imagesearch_imagesearch",
        "deprecated": false,
        "description": "输入一张或多张查询图片，系统自动检测并抠取图片中的人或车辆目标，提取其多模态特征，与图库中已入库的图像特征进行相似度检索，返回最相似的候选图片及相似度分数。",
        "tags": [],
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "Bearer {$ACCESS_TOKEN}",
            "required": true,
            "example": "",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "query": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "检索图片url列表"
                  },
                  "capture_time": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "检索时间范围[start， end] ，默认为不限制时间范围"
                  },
                  "camera_id": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "检索摄像头列表，默认为不限制摄像头范围"
                  },
                  "topk": {
                    "type": "integer",
                    "description": "返回检索结果数，默认值20"
                  },
                  "thres": {
                    "type": "number",
                    "description": "检索阈值，默认0."
                  }
                },
                "required": [
                  "query"
                ]
              },
              "examples": {}
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "description": "访问状态success/fail"
                    },
                    "message": {
                      "type": "string",
                      "description": "code对应的返回详细信息"
                    },
                    "results": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "query": {
                            "type": "string",
                            "description": "检索请求url"
                          },
                          "result": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "score": {
                                  "type": "number",
                                  "description": "置信度"
                                },
                                "img_url": {
                                  "type": "string",
                                  "description": "图片地址"
                                },
                                "image_id": {
                                  "type": "string"
                                },
                                "cap_time": {
                                  "type": "string"
                                },
                                "channel_code": {
                                  "type": "string"
                                },
                                "box": {
                                  "type": "string"
                                }
                              },
                              "required": [
                                "score",
                                "img_url",
                                "image_id",
                                "cap_time",
                                "channel_code",
                                "box"
                              ]
                            },
                            "description": "检索结果"
                          }
                        }
                      }
                    }
                  },
                  "required": [
                    "status",
                    "message",
                    "results"
                  ]
                }
              }
            },
            "headers": {}
          }
        },
        "security": []
      }
    }
  },
  "components": {
    "schemas": {},
    "securitySchemes": {}
  },
  "servers": [
    {
      "url": "https://maas-api.ai-yuanjing.com",
      "description": "maas"
    }
  ]
}