{
  "openapi": "3.0.1",
  "info": {
    "title": "元景-首尾帧图生视频获取-14B",
    "description": "联通元景多模态首尾帧视频结果获取接口。",
    "version": "1.0.0"
  },
  "tags": [],
  "paths": {
    "/openapi/v1/yuanjing_imgs2video_get": {
      "post": {
        "summary": "元景-首尾帧图生视频获取-14B",
        "operationId": "yuanjing_imgs2video_get",
        "deprecated": false,
        "description": "",
        "tags": [],
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "Bearer {$ACCESS_TOKEN}",
            "required": true,
            "example": "",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "resourceId": {
                    "type": "string",
                    "description": "视频名，来自生成请求的返回结果resourceId"
                  }
                },
                "required": [
                  "resourceId"
                ]
              },
              "examples": {}
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "integer",
                      "description": "错误码，分别代表：\n0: SUCCESS\n1: PROCESSING\n2: FAILED"
                    },
                    "msg": {
                      "type": "string",
                      "description": "错误码描述信息，参考code"
                    },
                    "video": {
                      "type": "string",
                      "description": "算法生成的视频，采用base64编码\n "
                    }
                  },
                  "required": [
                    "code",
                    "msg",
                    "video"
                  ]
                }
              }
            },
            "headers": {}
          }
        },
        "security": []
      }
    }
  },
  "components": {
    "schemas": {},
    "securitySchemes": {}
  },
  "servers": [
    {
      "url": "https://maas-api.ai-yuanjing.com",
      "description": "maas"
    }
  ]
}