{
  "openapi": "3.0.1",
  "info": {
    "title": "元景-以文搜图",
    "description": "输入自然语言描述（例如：“穿红色衣服的男子”或“白色SUV停在路边”），模型自动将文本转化为多模态语义特征，并在图库中检索与描述语义最接近的图片结果。",
    "version": "1.0.0"
  },
  "tags": [],
  "paths": {
    "/openapi/v1/imageSearch/textSearchInMilvus/": {
      "post": {
        "summary": "",
        "operationId": "yuanjing_imagesearch_textsearch",
        "deprecated": false,
        "description": "输入自然语言描述（例如：“穿红色衣服的男子”或“白色SUV停在路边”），模型自动将文本转化为多模态语义特征，并在图库中检索与描述语义最接近的图片结果。",
        "tags": [],
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "Bearer {$ACCESS_TOKEN}",
            "required": true,
            "example": "",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "query": {
                    "type": "string",
                    "description": "检索请求"
                  },
                  "capture_time": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "检索时间范围[start， end] ，默认为不限制时间范围"
                  },
                  "camera_id": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "检索摄像头列表，默认为不限制摄像头范围"
                  },
                  "topk": {
                    "type": "integer",
                    "description": "返回检索结果数，默认值20"
                  },
                  "thres": {
                    "type": "number",
                    "description": "检索阈值，默认0."
                  }
                },
                "required": [
                  "query"
                ]
              },
              "examples": {}
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "description": "访问状态success/fail"
                    },
                    "message": {
                      "type": "string",
                      "description": "code对应的返回详细信息"
                    },
                    "results": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "score": {
                            "type": "number",
                            "description": "置信度"
                          },
                          "img_url": {
                            "type": "string",
                            "description": "图片地址"
                          },
                          "image_id": {
                            "type": "string"
                          },
                          "cap_time": {
                            "type": "string"
                          },
                          "channel_code": {
                            "type": "string"
                          },
                          "box": {
                            "type": "string"
                          }
                        },
                        "required": [
                          "score",
                          "img_url",
                          "image_id",
                          "cap_time",
                          "channel_code",
                          "box"
                        ]
                      },
                      "description": "检索结果"
                    }
                  },
                  "required": [
                    "status",
                    "message",
                    "results"
                  ]
                }
              }
            },
            "headers": {}
          }
        },
        "security": []
      }
    }
  },
  "components": {
    "schemas": {},
    "securitySchemes": {}
  },
  "servers": [
    {
      "url": "https://maas-api.ai-yuanjing.com",
      "description": "maas"
    }
  ]
}