{
  "openapi": "3.0.1",
  "info": {
    "title": "元景-图片入库",
    "description": "将图片数据批量导入向量数据库，用于后续的图像检索任务。系统将自动对图片进行检测、抠图，并提取目标区域（如行人、机动车）的视觉特征后入库。",
    "version": "1.0.0"
  },
  "tags": [],
  "paths": {
    "/openapi/v1/imageSearch/imageInsertIntoMilvus/": {
      "post": {
        "summary": "视觉检索-图片入库",
        "operationId": "yuanjing_imagesearch_imageinsert",
        "deprecated": false,
        "description": "将图片数据批量导入向量数据库，用于后续的图像检索任务。系统将自动对图片进行检测、抠图，并提取目标区域（如行人、机动车）的视觉特征后入库。",
        "tags": [],
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "Bearer {$ACCESS_TOKEN}",
            "required": true,
            "example": "",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "url_list": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "图片url列表"
                  },
                  "path_list": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "图片本地路径列表"
                  },
                  "image_id": {
                    "type": "array",
                    "items": {
                      "type": "integer"
                    },
                    "description": "图片id"
                  },
                  "camera_id": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "摄像头id"
                  },
                  "capture_time": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "拍摄时间（年⽉⽇时分秒）例如：20240910220313"
                  }
                },
                "required": [
                  "url_list",
                  "path_list",
                  "image_id",
                  "camera_id",
                  "capture_time"
                ]
              },
              "examples": {}
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "description": "访问状态success/fail"
                    },
                    "message": {
                      "type": "string",
                      "description": "错误信息"
                    },
                    "error_id": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "description": "下载失败/预处理失败的图⽚id列表"
                    }
                  },
                  "required": [
                    "status",
                    "message",
                    "error_id"
                  ]
                },
                "example": {
                  "status": "success",
                  "message": "",
                  "error_id": []
                }
              }
            },
            "headers": {}
          }
        },
        "security": []
      }
    }
  },
  "components": {
    "schemas": {},
    "securitySchemes": {}
  },
  "servers": [
    {
      "url": "https://maas-api.ai-yuanjing.com",
      "description": "maas"
    }
  ]
}