.tabs {
  margin: 20px;

  .tab {
    display: inline-block;
    vertical-align: middle;
    width: 160px;
    height: 40px;
    border-bottom: 1px solid #333;
    line-height: 40px;
    text-align: center;
    cursor: pointer;
  }

  .active {
    background: #333;
    color: #fff;
    font-weight: bold;
  }
}